services:
  memos:
    image: neosmemo/memos:stable
    container_name: memos
    restart: unless-stopped
    ports:
      - "5230:5230"
    volumes:
      - ${HOME}/.memos:/var/opt/memos
    environment:
      - TZ=Asia/Shanghai

